@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/Views/Home/index.js"></script>

<p1>This is a test 111</p1>

<p>My Branch Commit</p>

<p>Sprint 2 UK branch/p>
<p>sprint 3 local branch-uk </p>

<p>spint 2 mylocalbranch commit</p>